h1 { 
    text-align: center;
    margin-bottom: 50px;
  }


.mycart_box {
  
  text-align: center;
  width:320px;
}

.mycart_box img {
    width: 280px;
    height: 200px;
    margin-top: 30px;
    
}

.button {
  
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  
  background: #228bc8;
  border: 1px solid #228bc8;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 0 45px 0 25px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s;
  position:absolute;
	left:70px;
	top:380px;
}
.button:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 25px;
  margin-top: -6px;
}
.button:hover {
  background: #fff;
  color: #228bc8;
}

.button:hover:before {
  border-top: 2px solid #228bc8;
  border-right: 2px solid #228bc8;
}

.text-center {
  font-size: 40px;
}

.mycart_box_ID{
  margin-left: 170px;
  font-size: 20px;
}

.shop_button{
  margin-top: 70PX;
  margin-left: 500px;
  
}

